In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
rating = pd.read_csv("Dataset/rating.csv")

In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split

# rating = pd.read_csv("your_dataset.csv")

positive_rating = rating[(rating['rating'] == -1) | (rating['rating'] >= 5)]

train_list = []
test_list = []

for user_id, user_data in rating.groupby('user_id'):
    pos = positive_rating[positive_rating['user_id'] == user_id]

    # Không có tương tác dương → cho hết vào train
    if len(pos) == 0:
        train_list.append(user_data)
        continue

    # Chỉ có 1 tương tác dương → cho vào train (để tránh lỗi)
    if len(pos) == 1:
        pos_train = pos
        pos_test = pd.DataFrame(columns=user_data.columns)
    else:
        pos_train, pos_test = train_test_split(pos, test_size=0.2, random_state=42)

    remaining = user_data.drop(pos.index)
    train = pd.concat([remaining, pos_train])

    train_list.append(train)
    if len(pos_test) > 0:
        test_list.append(pos_test)

train_rating = pd.concat(train_list).reset_index(drop=True)
test_rating = pd.concat(test_list).reset_index(drop=True)

print("Train size:", len(train_rating))
print("Test size:", len(test_rating))
print(f"Số user trong test: {test_rating['user_id'].nunique()}")

Train size: 6260012
Test size: 1553725
Số user trong test: 71102

In [4]:
train_rating.head(10)

   user_id  anime_id  rating
0        1     13759      -1
1        1     10079      -1
2        1      4224      -1
3        1      7739      -1
4        1     10794      -1
5        1      1546      -1
6        1     24455      -1
7        1     23847      -1
8        1     22663      -1
9        1      5034      -1

In [5]:
test_rating.head(10)

   user_id  anime_id  rating
0        1     11759      -1
1        1     12293      -1
2        1     14833      -1
3        1     19285      -1
4        1      5667      -1
5        1     19221      -1
6        1     10897      -1
7        1     11617      10
8        1      2993      -1
9        1      2025      -1

In [6]:
train_rating.to_csv("Dataset/train_rating.csv")
test_rating.to_csv("Dataset/test_rating.csv")

- Đã chạy lại (3)